/* ==========ALL OF THIS IS CURRENTLY STAYING BECAUSE I LIKE A FEW THINGS SUCH AS THE TRANSFORMATION FOR THE ANIMATION - I WOULD LIKE TO STUDY IT  A LITTLE BIT MORE BEFORE DELETING. ANY OF MY CSS WILL START ON LN 42. =============*/

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
* {
  color:rgb(44, 44, 44);
}


.App {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.header {
  background-color: whitesmoke;
  grid-row: 1;
  grid-column: 1 / span 4;
  border-style: outset;
}

.sidebar {
  background-color: whitesmoke;
  grid-row: 2 / span 4;
  grid-column: 1;
}

.main {
  background-color: whitesmoke;
  grid-row: 2 / span 4;
  grid-column: 2 / span 3;
}



.some-pics-right {
  /* background-image: linear-gradient(whitesmoke 77%, cornflowerblue); */
  background-image: linear-gradient(whitesmoke 15%, cornflowerblue);

  grid-row: 2 / span 4;
  grid-column: 4;
}

a {
  text-decoration: none;
}